@use "../../../styles/variables.scss" as *;
.charts {
    &-container {
        background-color: #fff;
    }
    &-render {
        text-align: center;
        font-size: 32px;
        color: $color-text-title;
        /*border-bottom: 1px solid #efefef;*/
        border: 0 solid #efefef;
        border-bottom-width: 1px;
        padding: 10px 0;
    }
}
